.aside-element {
  display: grid;
  width: 293px;
  grid-template-rows: 24px 1fr;
  grid-template-columns: 48px 1fr;
  font-size: 14px;
  padding: 12px 0;
}

.aside-element img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
  grid-row: 1 / span 2;
}

.aside-element > h3,
.aside-element > span {
  padding-left: 16px;
}

.aside-element span {
  color: var(--light-text-color);
}
