.default-button {
  height: clamp(36px, 5vw, 44px);
  background-color: rgba(255, 136, 17, 1);
  border: none;
  padding: 0.5em;
  color: white;
}

.default-button:hover {
  background-color: rgb(250, 150, 50);
}

.icon-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}
