.default-textarea {
  background-color: var(--background-main);
  border: 1px solid var(--border-color);
  padding: 0.5em;
  color: var(--text-color);
  font-size: 14px;
}

.default-textarea:focus {
  outline-color: var(--light-text-color);
  border-color: var(--border-color);
}

.default-textarea::placeholder {
  color: var(--light-text-color);
}

.default-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  font-weight: 700;
  height: 20px;
}

textarea {
  font-family: inherit;
}
