/* [project]/Documents/SocialMediaNext/socialnetwork/src/app/_components/Header/style.css [app-client] (css) */
.nav-expanded, .nav-expanded main {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.desktop, .mobile {
  background-color: var(--background-main);
  z-index: 1001;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: clamp(6px, .8vw, 12px) clamp(12px, 1.5vw, 24px);
  display: flex;
  position: relative;
}

.desktop {
  height: 68px;
}

.mobile {
  height: 30px;
}

.auth-page {
  height: 48px;
}

.mobile.auth-page {
  height: 24px;
}

header a {
  text-decoration: none;
  display: flex;
}

.desktop nav {
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
  font-size: 18px;
  display: flex;
}

.desktop > .hamburger-menu, .mobile .desktop-nav {
  display: none;
}

.expanded {
  z-index: 1000;
  align-self: flex-end;
  width: 80vw;
  animation: .3s forwards slideIn;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.overlay {
  z-index: 999;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  opacity: 0;
  background-color: #00000080;
  height: 100vh;
  animation: .3s forwards fadeIn;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.expanded .mobile-nav {
  background-color: var(--background-root);
  opacity: 0;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: calc(100vh - 48px);
  margin-top: 48px;
  animation: .4s .1s forwards slideInNav;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-10px);
}

@keyframes slideInNav {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.expanded a {
  width: 92%;
  color: var(--light-text-color);
  background-color: var(--background-main);
  opacity: 0;
  cursor: pointer;
  height: 44px;
  margin-top: 10px;
  padding: 8px;
  font-size: 18px;
  animation: .3s forwards slideInLink;
  display: block;
  transform: translateX(20px);
}

.expanded a:first-child {
  animation-delay: .2s;
}

.expanded a:nth-child(2) {
  animation-delay: .25s;
}

.expanded a:nth-child(3) {
  animation-delay: .3s;
}

.expanded a:nth-child(4) {
  animation-delay: .35s;
}

@keyframes slideInLink {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hamburger-menu {
  z-index: 1001;
  background-color: #0000;
  border: none;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: transform .3s;
  display: flex;
  position: absolute;
  top: .4em;
  right: clamp(12px, 1.5vw, 24px);
}

.hamburger-menu:hover {
  transform: scale(1.1);
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: transform .3s;
}

.hamburger-menu .avatar:hover {
  transform: scale(1.1);
}

.logo {
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  display: flex;
}

.svg-icon {
  width: 18px;
  height: 24px;
}

.svg-sidekick {
  width: 71px;
  height: 15px;
}

@media (max-width: 768px) {
  .desktop, .mobile {
    gap: 4px;
    height: 36px;
  }

  .expanded .mobile-nav {
    height: calc(100vh - 24px);
    margin-top: 36px;
  }

  .hamburger-menu {
    width: 24px;
    height: 24px;
  }

  .svg-hamburger {
    width: 14px;
    height: 14px;
  }

  .svg-icon {
    width: 9px;
    height: 12px;
  }

  .svg-sidekick {
    width: 36px;
    height: 7px;
  }
}

/*# sourceMappingURL=80b94_SocialMediaNext_socialnetwork_src_app__components_Header_style_css_bad6b30c._.single.css.map*/