.month {
  display: flex;
  flex-direction: row;
  gap: clamp(24px, 2vw, 32px);
  justify-content: space-between;
}

.statistics {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
}

.statistics .frame {
  width: min(380px, 25vw);
  height: 172px;
  padding: clamp(12px, 1.2vw, 24px);
}

.tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.toggle-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tables.chart .frame {
  padding: 8px 24px 0 0;
}
@media (max-width: 900px) {
  .month {
    flex-direction: column;
  }
  .statistics .frame {
    width: 93.6vw;
    height: 114px;
  }

  .tables {
    display: flex;
    flex-direction: column;
  }
}
