.toggle {
  appearance: none;
  width: 48px;
  height: 28px;
  position: relative;
  background-color: var(--background-main);
  border-radius: 1.5em;
  border: 2px solid var(--background-root);
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
  margin-right: 5px;
}

.toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 12px;
  transform: translateX(-10px);
  background-color: var(--primary-orange);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle:checked {
  background-color: var(--primary-orange);
}

.toggle:checked::after {
  background-color: var(--background-main);
  transform: translateX(10px);
}
