.card {
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 1.2vw, 16px);
}

.card h3,
span {
  font-size: clamp(14px, 1.2vw, 16px);
}

.card small {
  color: var(--light-text-color);
}

.card p {
  font-size: clamp(20px, 1.5vw, 30px);
  font-weight: 600;
}
